<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" colors="true" cacheDirectory=".phpunit.cache" displayDetailsOnTestsThatTriggerWarnings="true">
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Main Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
